@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  text-align: justify;
}
.section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: left;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: justify;
text-emphasis-color: black;
  
}
.bg1 {
  background-color: #ccc;
  
}
.bg2 {
  background-color: rgb(202, 154, 154);
}
.bg3 {
    background-color: rgb(212, 168, 73);
  }
  .bg4 {
    background-color: rgb(160, 125, 186);
  }
  .bg5 {
    background-color: rgb(137, 137, 230);
  }
  .bg6 {
    background-color: rgb(163, 232, 174);
  }
  .bg7 {
    background-color: rgb(241, 120, 120);
  }
  .bg8 {
    background-color: rgba(18, 136, 128, 0.78);
  }
  .bg9 {
    background-color: rgba(203, 18, 135, 0.658);
  }
  .bg10 {
    background-color: rgb(144, 14, 124);
  }
  


h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}
.revealUp {
  opacity: 70%;
  
}
.spacer {
  height: 20vh;
  background-color: #000;
}
